{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
	
    {{#foreach posts}}
	
    <article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">
        <header class="post-header">
            <h2 class="post-title" itemprop="headline"><a href="{{url}}">{{title}}</a></h2>
			
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="MMMM D, YYYY"}}</time> {{#if tags}} | Tags: {{tags}}{{/if}}</span>
        </header>
        <section class="post-content" itemprop="articleBody">
            <p><p>{{excerpt words="80"}}...</p></p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
